- [1.- Intro to the GroupBy Module](#1)
- [2.- First Operations with groupby object](#2)
- [3.- Retrive A Group with the .get_group() Method](#3)
- [4.- Methods on the GroupBy Object and DataFrame Columns](#4)
- [5.- Grouping by Multipe Columns](#5)

In [1]:
import pandas as pd

# 1
### Intro to the GroupBy Module

In [17]:
df = pd.read_csv('./data/fortune1000.csv')
df.head()

,Rank,Company,Sector,Industry,Location,Revenue,Profits,Employees
0,1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
1,2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
2,3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
3,4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
4,5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400

In [4]:
sectors = df.groupby("Sector")

In [5]:
sectors.head()

,Rank,Company,Sector,Industry,Location,Revenue,Profits,Employees
0,1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
1,2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
2,3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
3,4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
4,5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400
...,...,...,...,...,...,...,...,...
260,261,Estee Lauder,Household Products,Household and Personal Products,"New York, NY",10780,1089,44000
300,301,Lennar,Engineering & Construction,Homebuilders,"Miami, FL",9474,803,7749
339,340,PVH,Apparel,Apparel,"New York, NY",8020,572,26200
353,354,Ralph Lauren,Apparel,Apparel,"New York, NY",7620,702,20000
447,448,Hanesbrands,Apparel,Apparel,"Winston-Salem, NC",5732,429,65300

# 2
### First Operations with groupby object

In [6]:
len(df)

1000

In [7]:
len(sectors)

21

In [10]:
df["Sector"].nunique()

21

In [11]:
sectors.size()

Sector
Aerospace & Defense              20
Apparel                          15
Business Services                51
Chemicals                        30
Energy                          122
Engineering & Construction       26
Financials                      139
Food and Drug Stores             15
Food, Beverages & Tobacco        43
Health Care                      75
Hotels, Resturants & Leisure     25
Household Products               28
Industrials                      46
Materials                        43
Media                            25
Motor Vehicles & Parts           24
Retailing                        80
Technology                      102
Telecommunications               15
Transportation                   36
Wholesalers                      40
dtype: int64

In [13]:
df["Sector"].value_counts()

Financials                      139
Energy                          122
Technology                      102
Retailing                        80
Health Care                      75
Business Services                51
Industrials                      46
Food, Beverages & Tobacco        43
Materials                        43
Wholesalers                      40
Transportation                   36
Chemicals                        30
Household Products               28
Engineering & Construction       26
Media                            25
Hotels, Resturants & Leisure     25
Motor Vehicles & Parts           24
Aerospace & Defense              20
Telecommunications               15
Food and Drug Stores             15
Apparel                          15
Name: Sector, dtype: int64

In [14]:
sectors.first()

,Rank,Company,Industry,Location,Revenue,Profits,Employees
Sector,,,,,,,
Aerospace & Defense,24,Boeing,Aerospace and Defense,"Chicago, IL",96114,5176,161400
Apparel,91,Nike,Apparel,"Beaverton, OR",30601,3273,62600
Business Services,144,ManpowerGroup,Temporary Help,"Milwaukee, WI",19330,419,27000
Chemicals,56,Dow Chemical,Chemicals,"Midland, MI",48778,7685,49495
Energy,2,Exxon Mobil,Petroleum Refining,"Irving, TX",246204,16150,75600
Engineering & Construction,155,Fluor,"Engineering, Construction","Irving, TX",18114,413,38758
Financials,4,Berkshire Hathaway,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
Food and Drug Stores,7,CVS Health,Food and Drug Stores,"Woonsocket, RI",153290,5237,199000
"Food, Beverages & Tobacco",41,Archer Daniels Midland,Food Production,"Chicago, IL",67702,1849,32300
Health Care,5,McKesson,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400
"Hotels, Resturants & Leisure",109,McDonald’s,Food Services,"Oak Brook, IL",25413,4529,420000
Household Products,34,Procter & Gamble,Household and Personal Products,"Cincinnati, OH",78756,7036,110000
Industrials,11,General Electric,Industrial Machinery,"Fairfield, CT",140389,-6126,333000
Materials,126,Alcoa,Metals,"New York, NY",22534,-322,60000
Media,53,Disney,Entertainment,"Burbank, CA",52465,8382,185000
Motor Vehicles & Parts,8,General Motors,Motor Vehicles and Parts,"Detroit, MI",152356,9687,215000
Retailing,1,Walmart,General Merchandisers,"Bentonville, AR",482130,14694,2300000
Technology,3,Apple,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
Telecommunications,10,AT&T,Telecommunications,"Dallas, TX",146801,13345,281450
Transportation,48,UPS,"Mail, Package, and Freight Delivery","Atlanta, GA",58363,4844,341240
Wholesalers,57,Sysco,Wholesalers: Food and Grocery,"Houston, TX",48681,687,51700

In [15]:
sectors.last()

,Rank,Company,Industry,Location,Revenue,Profits,Employees
Sector,,,,,,,
Aerospace & Defense,987,Delta Tucker Holdings,Aerospace and Defense,"McLean, VA",1923,-133,12000
Apparel,917,Guess,Apparel,"Los Angeles, CA",2204,82,13500
Business Services,993,DeVry Education Group,Education,"Downers Grove, IL",1910,140,11770
Chemicals,949,H.B. Fuller,Chemicals,"St. Paul, MN",2084,87,4425
Energy,997,Portland General Electric,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
Engineering & Construction,994,MDC Holdings,Homebuilders,"Denver, CO",1909,66,1225
Financials,996,New York Community Bancorp,Commercial Banks,"Westbury, NY",1902,-47,3448
Food and Drug Stores,928,Fred’s,Food and Drug Stores,"Memphis, TN",2151,-7,7103
"Food, Beverages & Tobacco",954,Alliance One International,Tobacco,"Morrisville, NC",2066,-15,6835
Health Care,978,Providence Service,Health Care: Pharmacy and Other Services,"Tucson, AZ",1987,84,9072
"Hotels, Resturants & Leisure",999,Wendy’s,Food Services,"Dublin, OH",1896,161,21200
Household Products,992,Revlon,Household and Personal Products,"New York, NY",1914,56,5700
Industrials,1000,Briggs & Stratton,Industrial Machinery,"Wauwatosa, WI",1895,46,5480
Materials,986,Schnitzer Steel Industries,Metals,"Portland, OR",1924,-197,2955
Media,989,Cenveo,"Publishing, Printing","Stamford, CT",1921,-31,7300
Motor Vehicles & Parts,979,Allison Transmission Holdings,Motor Vehicles and Parts,"Indianaoplis, IN",1986,182,2700
Retailing,973,99 Cents Only Stores,Specialty Retailers: Other,"Commerce, CA",1999,-232,18200
Technology,990,F5 Networks,Network and Other Communications Equipment,"Seattle, WA",1920,365,4178
Telecommunications,786,Equinix,Telecommunications,"Redwood City, CA",2726,188,5042
Transportation,974,Roadrunner Transportation Systems,Transportation and Logistics,"Cudahy, WI",1995,48,4502
Wholesalers,991,BlueLinx Holdings,Wholesalers: Diversified,"Atlanta, GA",1917,-12,1600

In [16]:
sectors.groups

{'Aerospace & Defense': [23, 44, 59, 87, 117, 119, 208, 244, 281, 377, 388, 489, 559, 604, 784, 787, 835, 902, 957, 986], 'Apparel': [90, 230, 339, 353, 447, 546, 574, 596, 682, 694, 725, 793, 876, 881, 916], 'Business Services': [143, 185, 198, 203, 220, 247, 248, 293, 306, 311, 354, 391, 403, 439, 466, 467, 480, 484, 491, 502, 544, 625, 634, 651, 676, 693, 713, 728, 733, 734, 736, 743, 766, 775, 776, 782, 790, 791, 795, 800, 802, 815, 818, 819, 868, 869, 885, 938, 950, 951, 992], 'Chemicals': [55, 100, 181, 188, 205, 252, 261, 276, 287, 295, 315, 537, 548, 554, 565, 579, 612, 623, 653, 667, 716, 719, 723, 757, 760, 828, 864, 897, 933, 948], 'Energy': [1, 13, 29, 31, 41, 64, 89, 94, 97, 103, 114, 116, 120, 161, 162, 164, 165, 174, 177, 187, 189, 191, 192, 197, 213, 215, 216, 222, 224, 228, 242, 245, 246, 256, 271, 273, 278, 288, 318, 321, 323, 342, 347, 348, 349, 362, 363, 383, 386, 387, 393, 401, 402, 409, 424, 436, 437, 444, 457, 474, 482, 492, 506, 521, 540, 547, 555, 557, 568, 570, 578, 597, 599, 605, 632, 649, 655, 661, 678, 691, 695, 702, 703, 705, 710, 714, 731, 741, 742, 744, 753, 771, 783, 797, 801, 809, 816, 825, 842, 849, ...], 'Engineering & Construction': [154, 155, 234, 259, 300, 313, 351, 380, 432, 477, 497, 500, 515, 571, 575, 639, 718, 737, 821, 862, 873, 891, 928, 962, 984, 993], 'Financials': [3, 15, 22, 25, 26, 28, 34, 39, 42, 48, 49, 60, 68, 72, 73, 75, 77, 80, 81, 82, 84, 99, 104, 111, 113, 130, 134, 136, 151, 170, 178, 183, 204, 209, 221, 225, 226, 231, 235, 249, 251, 258, 263, 264, 270, 272, 274, 282, 297, 305, 310, 317, 325, 328, 331, 343, 346, 366, 367, 375, 381, 397, 400, 410, 420, 435, 441, 448, 452, 453, 470, 471, 472, 475, 478, 481, 485, 487, 493, 496, 498, 505, 508, 509, 519, 528, 530, 535, 539, 550, 560, 567, 572, 589, 602, 608, 610, 645, 650, 662, ...], 'Food and Drug Stores': [6, 16, 18, 86, 106, 159, 180, 594, 613, 630, 668, 755, 808, 848, 927], 'Food, Beverages & Tobacco': [40, 43, 61, 65, 83, 93, 105, 148, 152, 160, 175, 206, 214, 241, 265, 303, 335, 336, 361, 396, 412, 428, 451, 455, 459, 534, 541, 566, 573, 586, 607, 614, 635, 663, 685, 701, 769, 786, 794, 803, 888, 901, 953], 'Health Care': [4, 5, 11, 20, 21, 32, 38, 45, 51, 54, 62, 71, 78, 85, 122, 123, 124, 129, 137, 139, 140, 167, 171, 199, 200, 201, 262, 267, 277, 285, 286, 289, 290, 304, 324, 357, 358, 371, 419, 429, 430, 446, 456, 464, 468, 514, 526, 536, 552, 558, 582, 617, 628, 660, 683, 692, 696, 707, 745, 748, 765, 774, 789, 798, 814, 817, 844, 867, 880, 882, 934, 959, 964, 976, 977], 'Hotels, Resturants & Leisure': [108, 145, 194, 217, 240, 253, 308, 370, 443, 465, 533, 545, 556, 561, 584, 730, 762, 763, 778, 796, 894, 914, 917, 940, 998], 'Household Products': [33, 150, 173, 255, 260, 327, 337, 344, 369, 433, 440, 449, 454, 532, 549, 553, 600, 664, 698, 715, 855, 889, 899, 906, 931, 949, 966, 991], 'Industrials': [10, 58, 74, 92, 96, 127, 133, 147, 210, 223, 359, 376, 395, 411, 418, 538, 543, 595, 621, 622, 629, 644, 654, 657, 665, 673, 689, 756, 781, 788, 805, 812, 822, 830, 831, 834, 840, 846, 865, 866, 872, 886, 941, 946, 963, 999], 'Materials': [125, 126, 169, 243, 250, 302, 320, 340, 355, 372, 374, 382, 416, 417, 425, 434, 445, 479, 488, 513, 517, 576, 585, 615, 616, 619, 624, 627, 636, 638, 640, 659, 666, 686, 690, 750, 773, 792, 856, 884, 910, 981, 985], 'Media': [52, 95, 98, 202, 212, 254, 326, 365, 405, 413, 524, 529, 680, 704, 706, 721, 740, 751, 758, 761, 820, 912, 967, 968, 988], 'Motor Vehicles & Parts': [7, 8, 69, 146, 153, 168, 280, 309, 333, 338, 423, 427, 469, 587, 590, 603, 646, 669, 717, 738, 810, 956, 960, 978], 'Retailing': [0, 14, 27, 37, 46, 70, 88, 102, 110, 131, 135, 138, 142, 144, 176, 179, 190, 195, 196, 227, 233, 236, 237, 239, 257, 266, 268, 279, 292, 296, 298, 301, 329, 341, 345, 360, 364, 373, 378, 379, 392, 414, 426, 438, 494, 499, 501, 510, 511, 516, 522, 581, 591, 601, 606, 609, 620, 642, 643, 647, 656, 674, 688, 720, 747, 770, 772, 806, 811, 823, 824, 826, 839, 875, 893, 898, 921, 936, 939, 972], 'Technology': [2, 17, 19, 24, 30, 35, 50, 53, 76, 109, 112, 132, 149, 156, 157, 163, 172, 193, 218, 219, 229, 232, 283, 294, 299, 307, 312, 330, 384, 385, 399, 407, 408, 421, 450, 461, 463, 486, 490, 503, 504, 507, 512, 518, 523, 531, 542, 551, 562, 564, 583, 588, 592, 593, 611, 631, 633, 637, 648, 658, 672, 675, 677, 681, 687, 699, 724, 732, 735, 752, 759, 768, 777, 804, 829, 833, 841, 853, 863, 870, 887, 890, 892, 895, 903, 904, 905, 908, 911, 913, 918, 926, 930, 942, 943, 945, 955, 969, 970, 974, ...], 'Telecommunications': [9, 12, 36, 115, 158, 186, 291, 332, 398, 442, 460, 495, 525, 618, 785], 'Transportation': [47, 57, 66, 67, 79, 128, 141, 207, 238, 269, 352, 389, 394, 404, 406, 415, 431, 458, 520, 527, 569, 577, 641, 671, 708, 712, 739, 799, 813, 857, 883, 929, 932, 944, 971, 973], 'Wholesalers': [56, 63, 91, 101, 107, 118, 121, 166, 182, 184, 211, 275, 284, 314, 316, 319, 322, 334, 350, 356, 368, 390, 422, 462, 473, 476, 483, 563, 580, 598, 626, 652, 684, 726, 746, 779, 807, 836, 874, 990]}

# 3
### Retrive A Group with the .get_group() Method

In [24]:
df = pd.read_csv('./data/fortune1000.csv',index_col = 'Rank')
sectors = df.groupby('Sector')
df.head()

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400

In [21]:
sectors.get_group('Energy')

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
14,Chevron,Energy,Petroleum Refining,"San Ramon, CA",131118,4587,61500
30,Phillips 66,Energy,Petroleum Refining,"Houston, TX",87169,4227,14000
32,Valero Energy,Energy,Petroleum Refining,"San Antonio, TX",81824,3990,10103
42,Marathon Petroleum,Energy,Petroleum Refining,"Findlay, OH",64566,2852,45440
...,...,...,...,...,...,...,...
981,WPX Energy,Energy,"Mining, Crude-Oil Production","Tulsa, OK",1958,-1727,1040
983,Adams Resources & Energy,Energy,Petroleum Refining,"Houston, TX",1944,-1,809
995,EP Energy,Energy,"Mining, Crude-Oil Production","Houston, TX",1908,-3748,665
997,Portland General Electric,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
997,Portland General Electric,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646

# 4
### Methods on the GroupBy Object and DataFrame Columns

In [22]:
sectors.max()

,Company,Industry,Location,Revenue,Profits,Employees
Sector,,,,,,
Aerospace & Defense,Woodward,Aerospace and Defense,"Wichita, KS",96114,7608,197200
Apparel,Wolverine World Wide,Apparel,"Winston-Salem, NC",30601,3273,65300
Business Services,Western Union,Waste Management,"Troy, MI",19330,6328,216500
Chemicals,Westlake Chemical,Chemicals,"Wilmington, DE",48778,7685,52000
Energy,Xcel Energy,Utilities: Gas and Electric,"Washington, DC",246204,16150,75600
Engineering & Construction,Tutor Perini,Homebuilders,"Watsonville, CA",18114,803,92000
Financials,Zions Bancorp.,Securities,"Worcester, MA",210821,24442,331000
Food and Drug Stores,Whole Foods Market,Food and Drug Stores,"Woonsocket, RI",153290,5237,431000
"Food, Beverages & Tobacco",WhiteWave Foods,Tobacco,"Winston-Salem, NC",67702,7351,263000
Health Care,inVentiv Health,Wholesalers: Health Care,"York, PA",181241,18108,203500
"Hotels, Resturants & Leisure",Yum Brands,"Hotels, Casinos, Resorts","Wyomissing, PA",25413,5920,505000
Household Products,Vista Outdoor,Miscellaneous,"Zeeland, MI",78756,7036,110000
Industrials,Zebra Technologies,Miscellaneous,"Wilmerding, PA",140389,4833,333000
Materials,Worthington Industries,"Packaging, Containers","Wyomissing, PA",22534,991,60000
Media,iHeartMedia,"Publishing, Printing","Sussex, WI",52465,8382,185000
Motor Vehicles & Parts,Wabash National,Motor Vehicles and Parts,"Van Buren Township, MI",152356,9687,215000
Retailing,hhgregg,Specialty Retailers: Other,"York, PA",482130,14694,2300000
Technology,salesforce.com,Semiconductors and Other Electronic Components,"Woburn, MA",233715,53394,411798
Telecommunications,Windstream Holdings,Telecommunications,"Stamford, CT",146801,17879,281450
Transportation,YRC Worldwide,"Trucking, Truck Leasing","Thomasville, NC",58363,7610,341240
Wholesalers,World Fuel Services,Wholesalers: Food and Grocery,"Waltham, MA",48681,1472,78500

In [23]:
sectors.sum()

                              Revenue  Profits  Employees
Sector
Aerospace & Defense            357940    28742     968057
Apparel                         95968     8236     346397
Business Services              272195    28227    1361050
Chemicals                      243897    22628     463651
Energy                        1517809   -73447    1188927
Engineering & Construction     153983     5304     406708
Financials                    2217159   260209    3359948
Food and Drug Stores           483769    16759    1395398
Food, Beverages & Tobacco      555967    51417    1211632
Health Care                   1614707   106114    2678289
Hotels, Resturants & Leisure   169546    20697    2484245
Household Products             234737    14428     646038
Industrials                    497581    20764    1545229
Materials                      259145     4428     638123
Media                          220764    24347     550314
Motor Vehicles & Parts         482540    25898    1082560
Retailing                     1465076    47830    6227629
Technology                    1377600   180473    3578949
Telecommunications             461834    48637     832468
Transportation                 408508    44169    1536793
Wholesalers                    444800     8233     525597

# 5
### Grouping by Multipe Columns

In [25]:
df = pd.read_csv('./data/fortune1000.csv',index_col = 'Rank')
sectors = df.groupby(['Sector','Industry'])
df.head()

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821,24083,331000
5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241,1476,70400

In [26]:
sectors.size()

Sector               Industry
Aerospace & Defense  Aerospace and Defense                            20
Apparel              Apparel                                          15
Business Services    Advertising, marketing                            2
                     Diversified Outsourcing Services                 14
                     Education                                         3
                                                                      ..
Transportation       Trucking, Truck Leasing                           9
Wholesalers          Miscellaneous                                     1
                     Wholesalers: Diversified                         25
                     Wholesalers: Electronics and Office Equipment     8
                     Wholesalers: Food and Grocery                     6
Length: 79, dtype: int64

In [27]:
sectors.sum()

                                                                   Revenue  \
Sector              Industry
Aerospace & Defense Aerospace and Defense                           357940
Apparel             Apparel                                          95968
Business Services   Advertising, marketing                           22748
                    Diversified Outsourcing Services                 64829
                    Education                                         7485
...                                                                    ...
Transportation      Trucking, Truck Leasing                          35950
Wholesalers         Miscellaneous                                     8982
                    Wholesalers: Diversified                        176138
                    Wholesalers: Electronics and Office Equipment   147906
                    Wholesalers: Food and Grocery                   111774

                                                                   Profits  \
Sector              Industry
Aerospace & Defense Aerospace and Defense                            28742
Apparel             Apparel                                           8236
Business Services   Advertising, marketing                            1549
                    Diversified Outsourcing Services                  4305
                    Education                                           69
...                                                                    ...
Transportation      Trucking, Truck Leasing                           1910
Wholesalers         Miscellaneous                                       17
                    Wholesalers: Diversified                          5193
                    Wholesalers: Electronics and Office Equipment     1857
                    Wholesalers: Food and Grocery                     1166

                                                                   Employees
Sector              Industry
Aerospace & Defense Aerospace and Defense                             968057
Apparel             Apparel                                           346397
Business Services   Advertising, marketing                            124100
                    Diversified Outsourcing Services                  708330
                    Education                                          46755
...                                                                      ...
Transportation      Trucking, Truck Leasing                           170456
Wholesalers         Miscellaneous                                       9200
                    Wholesalers: Diversified                          233831
                    Wholesalers: Electronics and Office Equipment     166661
                    Wholesalers: Food and Grocery                     115905

[79 rows x 3 columns]